<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
    
        <div style=" max-width: 600px; margin-left: auto; margin-right: auto; margin-top: 100px;">
            <a href="/"><span style="margin-left: 500px;">HOME</span></a>
         <div style="display: flex; background-color: gray;">
            <div style="margin-left: auto; margin-right: auto; margin-top: 50px; margin-bottom: 50px;">
            <h1>LOGIN</h1>
           <form>
                <div>
                <label for="">Student ID</label>
                <input type="text" placeholder="">
            </div>
            <div style="padding-top: 20px;">
                <label for="">Password</label>
                <input type="password" placeholder="">
            </div>
             <button style="margin-top: 20px;margin-left: 100px;">Log In</button>
            </form>
        
        
             <div style="padding-top: 20px;">
                <span>Don't you have an account?</span>
                <a href="/register">Register</a>
            </div>
        </div>
    </div>
        </div>

   
          
</body>
</html>