<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
        <div style=" max-width: 600px; margin-left: auto; margin-right: auto; margin-top: 10px;">
         <a href="/"><span style="margin-left: 500px;">HOME</span></a>
         <div style="display: flex; background-color: gray;">
            <div style="margin-left: auto; margin-right: auto; margin-top: 50px; margin-bottom: 50px;">
            <h1>REGISTERATION</h1>
           
                <form>
                    <h3>Student Info</h3>
                    
                    

                  <div>
                    <label for="">Student ID:</label>
                    <input type="text" placeholder="Enter Student ID">
                 </div>
                 <div style="padding-top: 20px;">
                    <label for="">Firstname:</label>
                    <input type="text" placeholder="Enter Your  Firstname">
                 </div>
                 <div style="padding-top: 20px;">
                    <label for="">Surname:</label>
                    <input type="password" placeholder="Enter Your Surname">
                 </div>
                 <div style="padding-top: 20px;">  
                    <label for="">Date of Birth:</label>
                    <input type="text" placeholder="Enter your Date of Birth">
                 </div> 
                 <div style="padding-top: 20px;">  
                    <label for="">Age:</label>
                    <input type="text" placeholder="Enter your Age">
                 </div>  
                 <div style="padding-top: 20px;">  
                    <label for="">Gender:</label>
                    <input type="radio" name="Gender" class="form-check-input" id="Gender_male" value="Male">Male
                    <input type="radio" name="Gender" class="form-check-input" id="Gender_female" value="Female">Female
                </div> 
                <div style="padding-top: 20px;">  
                    <label for="">Address:</label>
                    <input type="textarea" placeholder="Enter your Address">
                </div>  
                <div style="padding-top: 20px;">  
                    <label for="">Mobile:</label>
                    <input type="text" placeholder="Enter your mobile number">
                </div>
            
                 <button style="margin-top: 20px; margin-left: 100px;">Register</button>
                </form>
            
           <div style="padding-top: 20px;">
                <span>Already have an account?</span>
                <a href="/login">Log in</a>
             </div>
            </div>
         </div>
       
        </div>

  
   
</body>
</html>